<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!--
  PolicyKit ポリシーファイル
  Samba設定エディターのヘルパースクリプトに対する認証ポリシーを定義する
-->
<policyconfig>
  <vendor>Samba設定エディター</vendor>
  <vendor_url>https://github.com/smb-conf-editor</vendor_url>

  <action id="com.github.smb-conf-editor.helper">
    <description>Samba設定の変更</description>
    <description xml:lang="ja">Samba設定ファイルの変更を行います</description>
    <message>Samba設定を変更するには認証が必要です</message>
    <message xml:lang="ja">Samba設定を変更するには認証が必要です</message>
    <icon_name>network-server</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/smb-helper.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
